@model IEnumerable<NiuBang.Model.Feature>
<div class="page-sidebar nav-collapse collapse">
    <ul class="page-sidebar-menu">

        <li>
            <div class="sidebar-toggler hidden-phone"></div>
        </li>
        <li>
            <form class="sidebar-search">

                <div class="input-box">

                    <a href="javascript:;" class="remove"></a>

                    <input type="text" placeholder="查找...." />

                    <input type="button" class="submit" value=" " />

                </div>

            </form>
        </li>
        <li class="start">
            <a href="/home/index">
                <i class="icon-home"></i>
                <span class="title">首页</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="last">
            <a href="javascript:;">
                <i class="icon-cogs"></i>
                <span class="title">系统管理</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="/role/index">
                       角色管理
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
